/node_modules
/public/hot
/public/storage
/public/document_uploads
/public/image_uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
